<div data-controller="dungeon">
  <div class="grid grid-cols-3 gap-4">
    <div
      class="flex justify-center items-center w-24 h-24 p-2 m-2 rounded text-center text-4xl border border-gray-300"
      data-dungeon-target="left"
      data-action="click->dungeon#left"
    ></div>
    <div
      class="flex justify-center items-center w-24 h-24 p-2 m-2 rounded text-center text-4xl border border-gray-300"
      data-dungeon-target="mid"
      data-action="click->dungeon#action"
    ></div>
    <div
      class="flex justify-center items-center w-24 h-24 p-2 m-2 rounded text-center text-4xl border border-gray-300"
      data-dungeon-target="right"
      data-action="click->dungeon#right"
    ></div>
    <div
      class="flex justify-center items-center w-24 h-24 p-2 m-2 rounded bg-blue-500 text-white text-center text-4xl"
      data-action="click->dungeon#left"
    >
      ＜
    </div>
    <div
      class="w-24 h-24 p-2 m-2 rounded bg-blue-500 text-white"
      data-dungeon-target="box"
    >
      center
    </div>
    <div
      class="flex justify-center items-center w-24 h-24 p-2 m-2 rounded bg-blue-500 text-white text-center text-4xl"
      data-action="click->dungeon#right"
    >
      ＞
    </div>
  </div>
</div>